/* You can add global styles to this file, and also import other style files */
body
{
    background: url('https://znews-photo-td.zadn.vn/w1024/Uploaded/abhuuah/2015_02_10/DSC07502_zing_1.jpg') fixed;
    background-size: cover;
    padding: 0;
    margin: 0;
}
