<div class="nhaphang">
  <h2 style="text-align: center">Hàng Tồn Kho</h2>
  <table>
      <tr>
        <th class="masanpham">Mã sản phẩm</th>
        <th class="masanpham">Tên mặt hàng</th>
        <th class="masanpham">Loại sản phẩm</th>
        <th class="masanpham">Giá nhập</th>
        <th class="masanpham">Giá bán</th>
        <th class="masanpham">Số lượng tồn</th>
       
      </tr>
      <tr *ngFor="let item of products">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <td>{{item.nameCatalog}}</td>
        <td>{{item.inputPrice}}</td>
        <td>{{item.sellPrice}}</td>
        <td>{{item.inventory}}</td>
      </tr>
    </table>
</div>